$PRIMARY: #F4512C;
$PRIMARY_LIGHT: #FF7F4D;
$PRIMARY_LIGHTER: #FFF4F0;
$SECONDARY: #5E1B89;
$SECONDARY_LIGHT: #9D71BC;
$SECONDARY_LIGHTER: #efe8f3;

$GRANITE_GRAY: #616161;
$GRAY_62: #9E9E9E;
$GRAY_98: #FAFAFA;
$SONIC_SILVER: #757575;
$BG_LIGHT: #F8F9FA;
$FLAMINGO: #F4512C;
$WHITE: #FFFFFF;
$MINE_SHAFT: #333333;
$TUNDORA: #4A4A4A;
$GALLERY: #EEEEEE;
$BLACK: #000000;
$SILVER_CHALICE: #A9A9A9;
$GRAY: #808080;
$CURIOUS_BLUE: #268BD2;
$MERCURY: #E1E1E1;
$WIND_SAND: #F5F5F5;
$MOUNTAIN_MEADOW: #14B7A0;
$REGENT_GRAY: #86939E;
$TRANSPARENT: rgba(0,0,0,0);
$DIM_8: rgba(0,0,0,0.8);

$LEXMEET_GRADIENT: linear-gradient(330deg, rgba(94, 27, 137, 1) 0%, rgba(230, 115, 80, 255) 100%);
$LEXMEET_GRADIENT_MOZ: -moz-linear-gradient(330deg, rgba(94, 27, 137, 1) 0%, rgba(230, 115, 80, 255) 100%);
$LEXMEET_GRADIENT_WEBKIT: -webkit-linear-gradient(330deg, rgba(94, 27, 137, 1) 0%, rgba(230, 115, 80, 255) 100%);
$LEXMEET_GRADIENT_FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5e1b89", endColorstr="#f4512c", GradientType=1);
