@font-face {
    font-family: 'Gotham Book';
    src: url(/fonts/GothamBookRegular.otf);
    font-display: swap;
}

@font-face {
    font-family: 'Gotham-Book';
    src: url(/fonts/GothamBook.ttf);
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Medium';
    src: url(/fonts/GothamMedium.otf);
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Bold';
    src: url(/fonts/Gotham-Bold.otf);
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url(/fonts/helvetica-neue-5-cufonfonts/HelveticaNeueLight.ttf);
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url(/fonts/helvetica-2-cufonfonts/Helvetica.ttf);
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue Condensed';
    src: url(/fonts/helvetica-neue-5-cufonfonts/HelveticaNeue-Condensed.otf);
    font-display: swap;
}