* {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  display: none;
}
body {
  background-color: #eaeaea !important;
}
.App {
  background-color: #eaeaea;
  position: relative;
  height: 100% !important;
}

.hidden {
  display: none !important;
}

.top-navbar {
  background-color: #0f1b2a;
  height: 80px;
  width: 100%;
  padding: 10px 50px 0px 50px;
  justify-content: space-between;
  color: #faf8f5;
  position: fixed;
  top: 0;
  z-index: 10;
  align-items: center;
  .link-btn {
    border: none;
    margin-right: 15px;
    color: #faf8f5;
    background-color: #0f1b2a;
    font-family: "Gotham Medium";
  }
  .link-active {
    color: #f5cf45;
    //border-bottom: 3px solid #ff9c07;
    font-family: "Gotham Medium";
    font-weight: bold;
  }

  .hamburger-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    //height: 21px;
  }

  .hamburger-button .hamburger {
    height: 5px;
    width: 100%;
    background-color: #faf8f5;
    border-radius: 10px;
  }

  .hamburger-button .hamburger:nth-child(2) {
    margin: 5px 0px;
  }

  .nav-close {
    color: #faf8f5;
    width: 30px;
    //height: 21px;
    font-size: 25px;
  }
}

.bottom-navbar {
  background-color: #0f1b2a;
  height: auto;
  width: 100%;
  padding: 0px 50px 10px 50px;
  justify-content: space-between;
  margin-top: 80px;
  color: #faf8f5;
  position: fixed;
  top: 0;
  z-index: 10;
  align-items: center;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  .nav-section {
    color: #f5cf45;
    font-family: "Gotham Medium";
    font-weight: bold;
  }
  .link-btn {
    border: none;
    margin-right: 15px;
    color: #faf8f5;
    background-color: #0f1b2a;
    font-family: "Gotham Medium";
  }
  .link-active {
    color: #f5cf45;
    //border-bottom: 3px solid #f5cf45;
    font-family: "Gotham Medium";
    font-weight: bold;
  }
}

.content-container {
  //border: 5px solid red;
  padding: 180px 50px 30px 50px;
}

////////////////////////////////////////// OVERVIEW ////////////////////
.overview-container {
  height: 100vh;
  .sl-overview {
    width: 60%;
    padding-right: 100px;
    .sl-overview-card {
      background-color: #f5cf45;
      padding: 30px;
      border-radius: 20px;
      width: 100%;
      height: auto;
      text-align: center;

      .overview-icon {
        font-size: 100px;
      }
    }
    .temp-time {
      //border: 1px solid blue;
      background-color: #f8f8f8;
      border-radius: 20px;

      .tt-item {
        text-align: center;
        //border: 1px dashed red;
        width: 100%;
      }
    }
  }
  .sl-devices {
    width: 40%;
    background-color: #f8f8f8;
    border-radius: 20px;
    height: max-content;

    .energy-balance-chart {
      background-color: #eaeaea;
      height: 150px;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }

  p {
    color: #0f1b2a;
    margin: 0;
    font-family: "Gotham Book";
  }
}

.sl-status {
  background-color: #27b376;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  color: transparent;
}
.sl-dropdown {
  border: none;
  background-color: inherit;
  font-size: 1.5em;
  font-family: "Gotham Bold";
  color: #f8f8f8;
}
.dropdown-options {
  color: #0f1b2a;
  padding: 5px;
}

////////////////////////////////////////// PROFILE ////////////////////
.profile-container {
  //height: 100vh;
  .profile-card {
    background-color: #f8f8f8;
    width: 50%;
    border-radius: 20px;

    .line-break {
      border-bottom: 2px solid #0f1b2a;
    }
    p {
      color: #0f1b2a;
      margin-bottom: 5px;
      font-size: 1em;
    }
  }
}

////////////////////////////////////////// STATUS ////////////////////
.status-container {
  //height: 100vh !important;
  overflow-y: hidden;
  .status-card {
    background-color: #f5cf45;
    padding: 20px;
    border-radius: 20px;
    width: 100%;
    //text-align: center;
    height: 180px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .status-icon {
    font-size: 60px;
  }
  .battery-card {
    background-color: #27b376;
  }
  .lamp-card {
    background-color: #bf212f;
    color: #eaeaea;
  }
}

////////////////////////////////////////// ANALYSIS ////////////////////
.analysis-container {
  height: 100vh;
  .analysis-date-picker {
    //border: 1px solid red;
    .date-picker-icon {
      font-size: 1.55em;
    }
  }
  .analysis-date-type {
    //border: 1px solid red;
  }
  .date-type-btn {
    background-color: #0f1b2a;
    color: #f5cf45;
    border-radius: 20px;
    text-align: center;
    width: 130px;
    font-family: "Gotham Bold";
  }
  .date-type-btn-active {
    background-color: #f5cf45;
    color: #0f1b2a;
  }
  .date-type-btn:hover { 
    background-color: #f9a73e;
    color: #0f1b2a;
  }
  .analysis-section {
    p {
      font-size: 1em;
      color: #0f1b2a;
      font-family: "Gotham Medium";
    }

    .energy-analysis-section,
    .battery-analysis-section {
      background-color: #f8f8f8;
      border: 1px solid black;
      height: 150px;
    }

    .energy-chart,
    .charging-chart {
      background-color: #f8f8f8;
      border: 1px solid black;
      height: 50px;
    }
  }
}
