* {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  display: none;
}
body {
  background-color:  #dfe9f6 !important;
}
.App {
  background-color:  #dfe9f6;
  position: relative;
  height: 100% !important;
}

.hidden {
  display: none !important;
}

.loading-component {
  z-index: 1000;
  position: absolute;
  margin: 15% 38%;
}
.sinag-logo{
  height:45px;
  margin-right:60%;
  margin-left: -40%;
  //background-color: red;
}
.top-navbar {
  background-color: #090F1E;
  height: 80px;
  width: 100%;
  padding: 2% 10% 2% 0%;
  //justify-content: space-between;
  color: #E7EDF5;
  position: fixed;
  top: 0;
  z-index: 10;
  align-items: center;
  
  .link-btn {
    border: none;
    margin-right: 25%;
    color: #E7EDF5;
    background-color: transparent;
    font-size: 14pt;
    font-family: "Gotham Medium";
    animation:0.3s ease-in-out;
  }
  .link-active {
    color: #F5CF45;
    font-family: "Gotham Medium";
    font-weight: bold;
  }
  .link-btn:hover{
    transform: scale(1.05);
    color: #F5CF45;
  }
    
  .title-nav-container{
    margin-left: 5%;
  }

  .hamburger-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
  }

  .hamburger-button .hamburger {
    height: 5px;
    width: 100%;
    background-color: #E7EDF5;
    border-radius: 10px;
  }

  .hamburger-button .hamburger:nth-child(2) {
    margin: 5px 0px;
  }

  .nav-close {
    color: #E7EDF5;
    width: 30px;
    font-size: 25px;
  }
}

.bottom-navbar {
  background-color: #090F1E;
  height: auto;
  width: 100%;
  padding: 1% 3% 0% 3.5%;
  justify-content: space-between;
  margin-top: 80px;
  color: #E7EDF5;
  position: fixed;
  top: 0;
  z-index: 10;
  align-items: center;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  .nav-section {
    color: #f5cf45;
    font-family: "Gotham Medium";
    font-weight: bold;
  }
  .link-btn {
    border: none;
    margin-right: 15%;
    margin-left: -1%;
    padding-top: 2%;
    padding-bottom: 6%;
    color: #E7EDF5;
    background-color: transparent;
    font-family: "Gotham Medium";
    animation: 0.3s ease-in-out;
  }
  .link-active {
    color: #f5cf45;
    border-bottom: 2pt solid #f5cf45;
    font-family: "Gotham Medium";
    font-weight: bold;
  }
  .link-btn:hover{
    transform: scale(1.05);
    color: #F5CF45;
  }
}

////////////////////////////////////////// OVERVIEW ////////////////////
.overview-container {
  padding: 210px 50px 120px 50px;// top right bottom left
  .overview-container-wrapper{
    display:flex;
    flex-direction: row;
    justify-content: space-between; 
    //background-color: red; 
    margin:1% 0% 1% 0%;// top right bottom left
    //background-color: red;
  }
  .loading-api {
    z-index: 1000;
    position: absolute;
    margin: 5% 32%;
  }
  .sl-overview-container{
    //width:55%;
    margin-right: 2%;
    //background-color: green;
    box-sizing: border-box;
    
    .sl-wrapper{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;
    }
  .sl-overview-card {
    
    background-color: #F5CF45;
    border-radius: 20px;
    padding:2% 8% 2% 8%;// top right bottom left
    width:300px;
    height: 190px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin:0% 0% 2% 0%;// top right bottom left
    .sl-icon{
      margin-top:3%;
      font-size: 65pt;
    }
    }
    .devices-container{
      margin-top:4%;
      .device-title{
        
      }
    }
    .status-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin:1%;
      border-radius:15px;
      padding: 1%;
      background-color: #E7EDF5;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }
    .sl-status{
      margin-right: 2%;
    }
    .status-wrapper p{
      font-size: 18pt;
    }
  
  }
  .sl-temp-container {
    
    position: relative;
    //background-color: green;
    
    .sl-wrapper{
      display: flex;
      flex-direction: row;
      
      
      .weather-wrapper{
        background-color: #E7EDF5;
        width:80%;
        margin: 0% 2% 0% 0%;// top right bottom left
        padding: 2% 5% 2% 5%;// top right bottom left
        border-radius: 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
       
        .icon-wrapper{
          text-align: center;
          .weather-icon{
            margin-top: 5%;
            font-size: 70pt;
            justify-content: center;
            align-items: center;
            color:#f5cf45;
          }

        }
        .temp-container{
          text-align: center;
          .temp-value, h6{
            color:#090F1E;
            font-size: 14pt;
          
          }
        }
        .device-title{
          text-align: center;
          font-size: 14pt;
          ccolor:#090F1E;
        }
      }
      
      .weather-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        justify-content: center;
        align-items: center;
        width:100%;
        //background-color: green;
        box-sizing: border-box;
        grid-row-gap: 10px; 
      }
      
      .content-container {
        padding: 5% 5% 5% 5%;
        background-color: #E7EDF5;
        border-radius: 20px;
        margin: 0% 0% 0% 0%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        text-align: center;
        display: flex;
        flex-direction: row;
      
        .icon-wrapper {
          text-align: center;
          align-items: center;
          justify-content: center;
        }
      
        .content-wrap {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          flex: 1;
        }
      
        .s-icon {
          margin-top: 7%;
          font-size: 55pt;
          justify-content: center;
          align-items: center;
          color: #f5cf45;
        }
      }
      
      .sunrise-container{
        grid-row: 1;
      }
      
      .sunset-container{
        grid-row: 2;
        align-self: end;
      }
      
      .sunrise-value, .sunset-value, h6, p, h2 {
        color: #090F1E;
        font-weight: normal;
        font-size: 14pt;
      }  
    }
    
    .dv-container{
      
      
      background-color: #E7EDF5;
      margin:5% 0% 2% 0%;// top right bottom left
      padding:2% 3% 2% 3%;// top right bottom left
      border-radius: 20px;    
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      .device-title{
       
   
      }
      
      
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }

  .mb-3, .my-3{
    padding-left: 1%;
    font-size: 20pt;
    font-weight: bold;
  }

  .mn-3, .sl-status{
    padding-left: 1%;
    font-size: 14pt;
  }

  p {
    color: #090F1E;
    font-size: 14pt;
    margin: 0;
    font-family: "Gotham Book";
  }
}

.sl-status {
  background-color: #0f1b2a;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  color: transparent;
}

.sl-active {
  background-color: #27b376;
}

.sl-inactive {
  background-color: #bf212f;
}

.sl-dropdown {
  border: none;
  background-color: inherit;
  font-size: 1.5em;
  font-family: "Gotham Bold";
  color: #E7EDF5;
}
.dropdown-options {
  color: #090F1E;
  padding: 5px;
}

////////////////////////////////////////// PROFILE ////////////////////
.profile-container {
  //height: 100vh;
  padding: 210px 50px 30px 50px;
  .profile-card {
    background-color: #E7EDF5;
    width: 50%;
    border-radius: 20px;

    .line-break {
      margin-top: 2%;
      border-bottom: 2pt solid #090F1E;
    }
    p {
      color: #090F1E;
      margin-bottom: 5px;
      font-size: 16pt;
    }
  }
}

////////////////////////////////////////// STATUS ////////////////////
.status-container {
  //height: 100vh !important;
  padding: 210px 50px 120px 50px;
  overflow-y: hidden;
  .status-card {
    background-color: #f5cf45;
    padding: 20px;
    border-radius: 20px;
    width: 100%;
    //text-align: center;
    height: 180px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .status-icon {
    font-size: 60px;
  }
  .battFull {
    background-color: #27b376;
  }
  .battSafe {
    background-color: #f5cf45;
  }
  .battMid, .signal-fair {
    background-color: #e18119;
  }
  .battDanger, .lampOFF, .signal-bad, .signal-far, .signal-noisy {
    background-color: #bf212f;
    color: #eaeaea;
  }
  .lampON, .signal-good {
    background-color: #27b376;
    // color: #eaeaea;
  }
}

////////////////////////////////////////// ANALYSIS ////////////////////
.analysis-container {
  // height: 100vh;
  // padding-top: 60px;
  padding: 210px 50px 30px 50px;
  .analysis-date-picker {
    //border: 1px solid red;
    .date-picker-icon {
      font-size: 1.55em;
    }
  }
  .analysis-date-type {
    //border: 1px solid red;
  }
  .date-type-btn {
    background-color: #090F1E;
    color: #f5cf45;
    border-radius: 20px;
    text-align: center;
    width: 130px;
    font-family: "Gotham Bold";
    animation: 0.3s ease-in-out;
  }
  .date-type-btn-active {
    background-color: #f5cf45;
    color: #090F1E;
  }
  .date-type-btn:hover {
    background-color: #f5cf45;
    transform: scale(1.05);
    color: #090F1E;
  }
  .analysis-section {
    p {
      font-size: 1em;
      color: #090F1E;
      font-family: "Gotham Medium";
    }

    .chart {
      background-color: #E7EDF5;
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60vh;
      padding: 10px 50px;
    }

  }
}
////////////////REPORTS////////////////
.reports-container {
  padding: 100px 50px 30px 50px;
  .report-btn-section {
    .report-from-btn {
      background-color: #090F1E;
      color: #f5cf45;
      border-radius: 20px;
      text-align: center;
      width: 130px;
      font-family: "Gotham Bold";
      animation:0.3s ease-in-out;
    }
    .report-from-btn-active {
      background-color: #f5cf45;
      color: #090F1E;
    }
    .report-from-btn:hover {
      background-color: #f5cf45;
      color: #090F1E;
      transform: scale(1.05);
    }
  }
}

////////////////////////////////////////// HOME ////////////////////
.home-container {
  margin-top:-3%;
  p {
    text-align: justify;
    font-size: 1em;
    color: #090F1E;
    font-family: "Gotham Medium";
  }
  .header { 
    display:flex;
    flex-direction: row;
    background-color: #090F1E;
    background-image: url("./images/headerbg.svg");
    width: 100%;
    height: auto; 
    max-width: 100%;
    background-size: cover;
    margin-top: 80px;
    padding: 50px 80px;
  
    .laptop-img{
      height: auto;
      max-height:350px;
      max-width:100%;
      order:2;
      margin-left: 10%;  
    }
    
    .header-content{
      display:flex;
      flex-direction: column;
      justify-content: center;
    }
    .title{//SINAG
      font-size: 72pt;
      font-weight: bold;
      margin-left:70px;
      margin-top: 0;
      margin-bottom: 0;
      color: #f5cf45;
    }

    .mb-4 {//tagline
      font-size: 22pt;
      font-weight: bold;
      margin-top: -15px;
      margin-right:10px;
      margin-left:70px;
      color: #f5cf45;
    }

    .learn-btn-container{
      .hide-on-page {
        display:none;
      }
    
      .learn-btn:hover {
        background-color: #E7EDF5;
        color:#090F1E;
        font-family: "Gotham Medium";
        font-weight: bold;
        transform: scale(1.05);
      }
      .learn-btn{
        border: none;
        background-color: #f5cf45;
        color: #090F1E;
        padding: 5px;
        border-radius: 20px;
        text-align: center;
        width: 200px;
        font-family: "Gotham Bold";
        //margin-top:5px;
        margin-left:70px;
        transition: all 0.3s ease-in-out;
        
      }
    }
    @media (max-width: 1375px) {
      .laptop-img {
         display: none;
      }
   }
   @media (max-width: 1156px) {
    
    .title {
      font-size: 62pt;
      margin-left:50px;
    }
    .mb-4 {
      font-size: 18pt;
      margin-left:50px;
      
    }
    .learn-btn-container{
      .learn-btn{
      width: 180px;
      margin-left:50px;
      }
    }
  }
    
}


  .features-desc{ //Our Features
    padding-top:3%;
    padding-bottom: 2%;
    background-color: #dfe9f6;//#f2f2f2;
    .fd-title{
      color:#f5cf45;
      text-align: center;
      font-weight: bold;
      font-size: 42pt;
    }
    .fd-desc{
      color:#090F1E;
      font-size: 16pt;
      margin: 0% 10% 0% 10%;// top right bottom left
      text-align: center;
      line-height: 24pt;
    }
    .feature-card-container{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 40px;
      justify-content: center;
      margin: 2% 14% 0% 14%;// top right bottom left
      .feature-card{
        position: relative;
        width:100%;
        height:420px;
        border-radius: 20px;
        background-color: #f2f2f265;
        padding: 5px;
        margin:10px;
        transition: all 0.3s ease-in-out;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        box-sizing: border-box;
        overflow: hidden;
        //box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      }
      .fc-img{
        margin-bottom: 5px;
        height:auto;
        width:35%;
        max-width: 250px;
      }
      .feature-title {
        font-weight: bold;
        text-align: center;
        font-size: 14pt;
        padding:5px 0% 0% 0%;// top right bottom left
        margin:0% 5% 1% 5%;// top right bottom left
        color: #090F1E;
        //color: #f5cf45;
      }
      
      .feature-desc {
        margin: 0% 5% 0% 5%;// top right bottom left
        font-weight: normal;
        font-size: 12pt;
        text-align: justify;
        //lex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: auto;
        color:#090F1E;
      }
      
      .feature-btn-container {
      display: flex;
      justify-content: center;
      margin-top: 10px; /* adjust as needed */
      }
      .feature-btn{
        border: none;
        background-color: #13213F;
        color: #f2f2f2;
        padding: 5px;
        border-radius: 20px;
        text-align: center;
        width: 150px;
        margin: 0% 0% 5% 0%;// top right bottom left
        font-family: "Gotham Bold";
        transition: all 0.3s ease-in-out;
      }
     .feature-btn:hover{
        background-color: #f5cf45;
        color:#13213F;
        font-family: "Gotham Medium";
        font-weight: bold;
        transform: scale(1.05);
      }
      .feature-desc-detailed{
      display:none;
      position: absolute;
      margin: 2% 5% 0% 5%;// top right bottom left
      z-index: 1;
      box-sizing: border-box;
      }
      .feature-card.show-detailed .feature-desc-detailed {
      display: block;
      }
      .feature-card.show-detailed .feature-title,
      .feature-card.show-detailed .feature-desc,
      .feature-card.show-detailed .fc-img {
        filter: blur(20px);
      }
      @media (max-width: 1375px) {
        .feature-card{
          height:380px;
        }
        .feature-title{
          font-size: 12pt;
        }
        .feature-desc,.feature-desc-detailed {
          font-size: 11pt;
        }
        .feature-btn{
          font-size: 10pt;
          width:90px;
        }
      } 
    }
    @media (max-width: 1156px) {
    
      .fd-title{
        font-size: 36pt;
      }
      .fd-desc{
        font-size: 14pt;
      }
      .feature-card-container{
        grid-gap: 20px;
        .feature-card{
          height:350px;
          
          .feature-desc,.feature-desc-detailed {
            font-size: 9pt;
          }
        }
        
    }

  }

}  
  .dev-section {
    background-image: url("./images/devbg.svg");
    background-color: #E7EDF5;
    background-size: cover;
    padding: 50px 80px;
    color: #E7EDF5;
    

    p {
      margin: 0;
      color: #E7EDF5;
    }

    .devs-section-header {
      color: #f5cf45;
      text-align: center;
      font-weight: bold;
      font-size: 42pt;
    }

    .img-dev-rect {
      border: 1px solid #bf212f;
      height: 150px;
      width: 800px;
    }
    .dev-card-section {
      margin-top: 50px;
      margin:50px 0% 20px 0%;

      // border: 1px solid #bf212f;
    }
    .dev-image {
      height: 200px;
      width: 200px;
      
      // border-radius: 100px;
      // border: 1px solid #bf212f;
    }
  }


  .tools-section{//tools weve used
    padding-top:3%;
    padding-bottom: 2%;
    background-color: #dfe9f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    .t-title{
      color: #f5cf45;
      text-align: center;
      font-weight: bold;
      font-size: 42pt;
    }
    .tools-row {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  }
    .tools-card{
      //border: solid #090F1E 1pt;
      //border-radius: 10px;
      margin: 10px;
      text-align: center;
      
      //background-color: #090F1E;

    }
    .tools-card img{
      width: 185px;
      height: 100px;
      margin: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }
  }
  
}

///////////////////////PRODUCT OVERVIEW (LEARN MORE BTN)///////////////////////////

.productOverview-container{
height:auto;
width:100%;
display:block;
background-color: #dfe9f6;
padding: 0% 0% 3% 0%;// top right bottom left
text-align: justify;
font-family: "Gotham Medium";


.header{
  height: 400px;
  margin-top:80px;
  background-image: url("./images/product_header.svg");
  background-size: cover;
  .header-desc{
    font-size: 68pt;
    font-weight: bold;
    font-family: "Gotham Bold";
    color: #f5cf45;
    padding-top:6%;
    margin-left: 8%;
  }
  .header-desc2{
    font-size: 22pt;
    font-weight: bold;
    font-family: "Gotham Bold";
    color: #f5cf45;
    margin-top:-1%;
    margin-left: 8%;
  }
  
}
.content-container{
  .content-desc-container{
    //background-color: green;
    padding: 3% 8% 2% 8%;// top right bottom left
    .content-title{
      color: #090F1E;
      font-weight: bold;
      font-size: 22pt;
      font-family: "Gotham Bold";
    }
    .content-desc{
      color:#090F1E;
      font-size: 14pt;
      margin-bottom: 2%;
    }
    .content-desc-title{
      font-family: "Gotham Bold";
      color:#090F1E;
      font-weight: bold;
      font-size: 14pt;
      text-align: center;
    }
    ul li{
      color:#090F1E;
      font-size: 12pt;
      margin-bottom: 2%;
      text-align: left;
      //list-style: none;
      
      

    }
    .GO-container{//Goals and Obj
      display: flex;
      flex-direction: row;
      text-align: center;
      justify-content: space-between;
      margin: 0% 8% 0% 8%;// top right bottom left
      .GO-card{
        flex: 1;
        background-color: #E7EDF5;
        border-radius: 20px;
        margin: 0% 2% 3% 2%;// top right bottom left
        padding: 3% 2%  3% 2%;// top right bottom left
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      }
      .go-img{
        margin-bottom: 5px;
        height:auto;
        width:35%;
        max-width: 250px;
      }
    }
  }
  .OP-container{
    height:620px;
    //background-color: red;
    background-image: url("./images/overviewbg.svg");
    background-size: cover;
    padding:3% 0% 4% 0%;// top right bottom left
    .content-title{
      margin-top: 2%;
      color: #f5cf45;
      font-weight: bold;
      font-size: 22pt;
      font-family: "Gotham Bold";
      padding: 0% 8% 0% 8%;// top right bottom left
    }
    .content-desc{
      color:#e7edf5c6;
      margin:0% 8% 1% 8%;// top right bottom left
      // background-color: red;
      font-size: 14pt;
    }
  }
  
  
}
.project-desc{ //features main container
  margin: 5% 10% 0% 10%;// top right bottom left
  
  .content-container{//gif 1 and 3 (right img)
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    //background-color: #bf212f;
    position:relative;
    //margin-top:-40px;
    margin-bottom:5%;
  }
  .hpi1-img{
    height: auto;
    width:100%;
    max-width:25%;
    padding-right: 20px;
    //background-color: #27b376;
  }
  .desc-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
  }
  .tl{ //feature 1 and 3
    flex:1;
    color:#ffc619;//#f9a73e;
    font-weight: bold;
    font-size: 24pt;
    
  }
  .desc{//feature 1 and 3 desc
    flex:1;
    color:#090F1E;//#f9a73e;
    font-size: 14pt;
    line-height: 30pt;
    text-align: justify;
  }

  .hpi2-img{//gif 2
    height: auto;
    width:100%;
    max-width:25%;
    padding-left: 20px;
    //background-color: #27b376;
    order:2;
  }
  .hr-divider{
    border: solid 1pt #090F1E;
    width:100%;
    margin-top:20px;
    margin-bottom: 40px;
  }
  @media (max-width: 1375px) {
    .hpi1-img, .hpi2-img {
       display: none;
    }
 }
  
}

}
///////////////////ABOUT US/////////////////
.aboutus-container{
  height:auto;
  width:100%;
  display:block;
  background-color: #dfe9f6;
  padding: 0% 0% 3% 0%;// top right bottom left
  text-align: justify;
  font-family: "Gotham Medium";

  .header{
    height: 400px;
    margin-top:80px;
    background-image: url("./images/product_header.svg");
    background-size: cover;
    .header-desc{
      font-size: 68pt;
      font-weight: bold;
      font-family: "Gotham Bold";
      color: #f5cf45;
      padding-top:6%;
      margin-left: 8%;
    }
  }
    .content-container{
      padding: 3% 8% 2% 8%;// top right bottom left
      .title{
        color: #090F1E;
        font-weight: bold;
        font-size: 22pt;
        font-family: "Gotham Bold";
      }
      .dev-card{
        display:flex;
        flex-direction: row;
        background-color: #E7EDF5;
        border-radius: 20px;
        margin: 0% 0% 3% 0%;// top right bottom left
        padding: 3% 3%  3% 3%;// top right bottom left
        
      }
      .dev-img{
        height: 200px;
        width: 200px;
        border-radius: 50%;
      }
      .dev-info{
        margin: 2% 0% 0% 4%;// top right bottom left
        align-items: center;
        text-align: justify;
      }
      
      .dev-name{
        color:#090F1E;
        font-size: 20pt;
        font-family: 'Gotham Bold';
        font-weight: bold;
      }
      .dev-desc{
        color:#090F1E;
        font-size: 14pt;
      }
    }
  
}
///////////////FOOTER//////////////
.footer-container{
  background-image: url("./images/footerbg.svg");
  background-size: cover;
  padding-top:20px;
  height:250px;
  display: flex;
  align-items: center;
  justify-content: center;
  


    p{
      font-size: 12pt;
      font-weight: bold;
      color:#bab6b6;
      margin-bottom:0;
    }
    .links{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 60px;
      text-align: center;
      max-width: 800px;
      padding-top:3%; 
      
    }
    .links ul{
      list-style: none;
      padding: 0;
      margin: 0;
      
      
    }
    .links a {
      text-decoration: none;
      color:#E7EDF5;
    }
    .links a:hover {
      text-decoration: underline;
      color:#f5cf45;
    }
}

  
